.mp-gray {
	background-color: #f7f9fa;
}
.btn {
	position: relative;
	align-items: center;
	border: none;
	display: inline-flex;
	justify-content: center;
	vertical-align: bottom;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	padding: 6px 12px;
}
.btn-light {
	background: #fff;
	color: #101112;
	border: 1px solid #101112;
}
.btn-dark {
	background: #101112;
	border: 1px solid #101112;
	color: #fff;
}
.btn-dark a,
.btn-light a {
	text-decoration: none;
}
.btn-dark a:visited {
	color: #fff;
}
.btn-light a:visited {
	color: #101112;
}
/* drop down */
.dropdown-item {
	display: none;
	background-color: #fff;
	position: absolute;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
}
.dropdown:hover .dropdown-item {
	display: block;
}
.tabbtn {
	background: transparent;
	color: #535353;
}
.tabbtn-active {
	background-color: #dfdede;
	color: #535353;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* rating */
.rating {
	color: gold;
	display: flex;
	align-items: center;
}
.rating-star {
	display: flex;
	align-items: center;
	margin: 5px;
}
.rating i {
	font-size: 0.8rem;
}
.chevron {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	color: #ffffff;
	background-color: #6a6f73;
	border-radius: 50%;
}
.ud-container {
	padding-top: 64px;
	width: 100%;
	max-width: 1320px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
}
.ud-content-box{
	padding:64px 24px;
}
